@import "tailwindcss";

@theme{
    --color-primary: #041341;
    --color-light: #ffffff;
    --color-dark: #1b1e1d;
    --color-darkGray: #545454;
    --color-gray: #112ba7;
    --color-button: #036bff;
    --color-mobile: #1c2ea3;
    --color-mobilee: #dddddd;
    --color-transparent: transparent;
    --color-bg-sm: #0f58ff;
    --color-blew: #002aba;
    --color-background: #f1f4fb;
    --color-hover: #1387ff;
    --color-pricing: #1388ff;
    --color-grayish: #636363;

    --font-poppins: "urbanist","sans-serif";
    --animate-bounce: bounces .3s 2;

}


@layer base {
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'urbanist', sans-serif;
        
    }
    p,
    li,
    a {
        @apply text-base;
    }

    html {
    @apply scroll-smooth;
    }

    body {
        @apply overflow-x-hidden;
    }

    .container::after {
    content: "";
    display: table;
    clear: both;

    

    
}
}

@keyframes bounces {

    0%,
    100% {
        transform: none;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(20%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
@layer components{
    .container {
        @apply max-w-[90rem] w-full mx-auto place-content-center;
    }

    /* BURGER MENU */
    .burger__menu {
        @apply md:hidden;
    }

    .burger__menu span {
        @apply w-[1.5rem] h-[.2rem] bg-light block transition-all;
    }

    .burger__menu span:nth-child(2) {
        @apply my-1;
    }

    .burger__menu.open span:first-child {
        @apply transform translate-y-[9px] rotate-[225deg] transition-all;
    }

    .burger__menu.open span:nth-child(2) {
        @apply opacity-0 transition-all;
    }

    .burger__menu.open span:last-child {
        @apply transform translate-y-[-6px] rotate-[-225deg] transition-all;
    }

}

/* HEADER  START*/

html{
    @apply overflow-x-scroll;
    @apply overflow-x-hidden;
}

.header{
    @apply bg-bg-sm py-4 px-4 relative md:fixed md:bg-transparent md:py-5
    md:border-b-1 md:border-mobile md:w-full md:z-999;
}

.header__branding img{
    @apply w-[159px] h-[32px] md:w-[159px] md:h-[32px];
}

.header__wrapper{
    @apply flex items-center justify-between w-full md:gap-53 md:items-center md:justify-center ;
}

.header__wrapper .register{
    @apply hidden md:block;
}

.header__wrapper .header__nav ul {
    @apply p-0 m-0 absolute top-[59px] max-h-[0] z-999 right-0 bg-light w-full overflow-hidden md:bg-transparent md:text-light md:static md:max-h-full md:w-auto md:flex md:z-99 md:transition-none md:bg-mobile ;
    transition: max-height 0.5s ease-in-out;
}

.header__wrapper .header__nav ul.open {
   @apply max-h-[21.3rem] md:transition-none ; /* Expands smoothly */
   transition: max-height 0.5s ease-in-out;
}

.header__wrapper .header__nav ul li{
    @apply px-6 py-4 border-b-[1px] border-mobilee md:border-b-0 ;
}

.header__wrapper .header__nav ul li a{
    @apply text-[13px] md:text-[16px];
}

.header__wrapper .register{
    @apply md:text-light md:border-1 md:border-button md:bg-button md:px-[2rem] md:py-[.7rem] rounded-md md:flex md:items-center md:justify-between md:gap-2  md:text-[16px];
}

.header__wrapper .register i{
    @apply text-[13px] md:w-[13px] ;
}



/* HEADER  END*/

/* BANNER START */
.banner{
    @apply relative text-light;
}

.banner__wrapper{
    @apply absolute top-[12.4%] left-[3%] lg:flex lg:w-full lg:items-center justify-center lg:gap-[5rem] lg:pt-[5rem];
}
.banner img{
    @apply lg:h-dvh bg-cover object-cover h-[135vh];
}

.banner__heading{
    @apply flex flex-col gap-[20px] ;
}

.banner__heading h4 {
  @apply flex items-center justify-center gap-[.3rem] border border-transparent py-[.5rem] 
  px-[.4rem] w-[17rem] bg-blew ;
}

.banner__heading img{
    @apply w-[15px] h-[15px];
}

.banner__heading h1{
    @apply text-[30px] font-bold leading-11 lg:leading-17 lg:text-[56px] ;
}

.banner__info p{
    @apply text-mobilee text-[16px] leading-7 w-[25rem] my-[26px] 
    lg:w-[636px];
}

.banner__info a{
    @apply bg-button py-[12px] px-[33px] rounded-md text-[16px] inline-block mb-[20px]
    lg:inline-block lg:w-[166px] lg:h-[60px] lg:mb-[0] lg:text-center lg:px-[40px] lg:py-[16px];
}

.banner__info  img{
    @apply w-[129px] h-[60px] ;
}

.banner__info span{
    @apply text-[18px] font-semibold mt-[10px] inline-block lg:border-l-1 lg:px-[1rem] lg:mt-[0px]
    lg:border-background;
}

.banner__info__rate{
    @apply lg:flex lg:items-center lg:gap-[2rem];
}


.banner__bottom__img img{
    @apply w-[386px]  h-[351px] mt-[15px] lg:w-[696px] lg:h-[634px] lg:mt-[0px];
}


/* BANNER END */
.services__cards{
    @apply bg-none lg:flex gap-[24px] lg:outline-none;
}
.services__wrapper{
    @apply absolute top-[138%] left-[3%] lg:top-[97.5%] lg:left-[15.9%];
}

.cards__item{
   @apply flex flex-col gap-[30px] bg-light w-[400px] h-[178px] rounded-lg px-[40px] pt-[40px] mb-[1.8rem] 
   hover:border-b-4 border-hover transition-all duration-200
   /* hover */
   lg:w-[306px] lg:h-[178px] hover:lg:border-b-4 border-hover transition-all duration-200;
}

.cards__item img{
    @apply w-[50px] h-[50px];
}

.cards__item:hover img{
    @apply animate-bounce;
}

.cards__item h2{
    @apply text-[20px] font-semibold;
}

/* .pricing */


.pricing {
    background-image: url("../dist/img/pricing-bg.jpg");
    @apply bg-cover bg-center h-[120rem]; /* Optional: For better sizing and positioning */
}
.pricing__wrapper{
    @apply space-y-12 absolute;
}

.pricing img{
    @apply bg-center bg-cover bg-no-repeat h-dvh w-full;
}

.pricing__container{
    @apply max-w-[90rem] py-5 px-5 w-full mx-auto place-content-center;
}

.pricing__wrapper h2{
    @apply text-center text-[19px] text-primary font-bold;
}

.image__fee img{
    @apply w-[75px] h-[75px] pb-[5px] ;
}

.image__fee h4 sup{
    @apply w-[10.89px]  h-[21.82px] text-[18px] inline-block font-bold text-pricing; 
}

.image__fee h4{
    @apply text-[24px] text-pricing font-bold mt-[8px];
}

.image__fee span{
    @apply text-[16px] text-grayish font-normal;
}

.pricing__item .middle {
    @apply text-[24px] text-primary font-bold;
}

.p-gray{
    @apply text-grayish text-[18px] mb-[2rem];
}

.pricing__item a{
    @apply px-[45px] py-[10px] border border-pricing inline-block rounded-md;
}

.pricing__item a{
    @apply text-primary mb-[1.5rem] inline-flex gap-[.8rem] items-center font-semibold;
}

.pricing__item a i{
    @apply text-pricing;
}
.specs ul{
    @apply flex flex-col gap-[12px] ;
}
.specs ul li{
    @apply text-[17px] flex items-center gap-[1rem] text-grayish font-normal ;
}

.specs ul li img{
    @apply w-[14px] h-[12px]
}

.image__fee{
    @apply relative after:content-[""] after:w-[17rem] after:h-[1px] after:bg-grayish after:absolute after:left-0 mb-[1rem] after:top-54;
}

.pricing__item{
    @apply px-[30px] pb-[23px] pt-[35px] border-t-[3px] border-pricing hover:border-t-[3px] mb-[30px] bg-light rounded-md
    ease-in-out duration-300; 
}



