@import "tailwindcss";

@theme{
    --color-primary: #041341;
    --color-light: #ffffff;
    --color-dark: #1b1e1d;
    --color-darkGray: #545454;
    --color-gray: #112ba7;
    --color-button: #036bff;
    --color-mobile: #1c2ea3;
    --color-mobilee: #dddddd;
    --color-transparent: transparent;
    --color-bg-sm: #0f58ff;
    --color-blew: #002aba;
    --color-background: #f1f4fb;
    --color-hover: #1387ff;
    --color-pricing: #1388ff;
    --color-grayish: #636363;
    --color-underline: #e5e6ed;
    --color-top: #e5f0ff;
    --color-orange: #fe8730;
    --color-arrow: #26d092;

    --font-poppins: "urbanist","sans-serif";
    --animate-bounce: bounces .3s 2;

}


@layer base {
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'urbanist', sans-serif;
        
    }
    p,
    li,
    a {
        @apply text-base;
    }

    html {
    @apply overflow-x-scroll;
    @apply overflow-x-hidden;
}

    body {
        @apply overflow-x-hidden
        overflow-y-hidden;
    }

    .container::after {
    content: "";
    display: table;
    clear: both;

    

    
}
}

@keyframes bounces {

    0%,
    100% {
        transform: none;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(20%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}


@layer components{
    .container {
        @apply max-w-[90rem] w-full mx-auto place-content-center;
    }

    /* BURGER MENU */
    .burger__menu {
        @apply md:hidden;
    }

    .burger__menu span {
        @apply w-[1.5rem] h-[.2rem] bg-light block transition-all;
    }

    .burger__menu span:nth-child(2) {
        @apply my-1;
    }

    .burger__menu.open span:first-child {
        @apply transform translate-y-[9px] rotate-[225deg] transition-all;
    }

    .burger__menu.open span:nth-child(2) {
        @apply opacity-0 transition-all;
    }

    .burger__menu.open span:last-child {
        @apply transform translate-y-[-6px] rotate-[-225deg] transition-all;
    }

}



.testimonial-slider {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
}

.testimonial__card__content {
    background: white;
    border-radius: 10px;

    padding: 20px;
    text-align: left;
}

.author__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author__title img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__it{
    width: 386px;
    height: 419.28px;
}

/* Swiper pagination dots */
.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    background-color: #ffd43b;
    width: 10px;
    height: 10px;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background-color: #ffa500;
    opacity: 1;
}


/* HEADER  START*/

html{
    @apply overflow-x-scroll;
    @apply overflow-x-hidden;
}

.header{
    @apply bg-bg-sm py-4 px-4 relative md:fixed md:bg-transparent md:py-5
    md:border-b-1 md:border-mobile md:w-full md:z-999;
}

.header__branding img{
    @apply w-[159px] h-[32px] md:w-[159px] md:h-[32px];
}

.header__wrapper{
    @apply flex items-center justify-between w-full md:gap-53 md:items-center md:justify-center ;
}

.header__wrapper .register{
    @apply hidden md:block lg:!w-[147px] lg:!h-[50px];
}

.header__wrapper .header__nav ul {
    @apply p-0 m-0 absolute top-[59px] max-h-[0] z-999 right-0 bg-light w-full overflow-hidden md:bg-transparent md:text-light md:static md:max-h-full md:w-auto md:flex md:z-99 md:transition-none md:bg-mobile ;
    transition: max-height 0.5s ease-in-out;
}

.header__wrapper .header__nav ul.open {
   @apply max-h-[21.3rem] md:transition-none ; /* Expands smoothly */
   transition: max-height 0.5s ease-in-out;
}

.header__wrapper .header__nav ul li{
    @apply px-6 py-4 border-b-[1px] border-mobilee md:border-b-0 ;
}

.header__wrapper .header__nav ul li a{
    @apply text-[13px] md:text-[16px];
}

.header__wrapper .register{
    @apply md:text-light md:border-1 md:border-button md:bg-button md:px-[2rem] md:py-[.7rem] rounded-md md:flex md:items-center md:justify-between md:gap-2  md:text-[16px];
}

.header__wrapper .register i{
    @apply text-[13px] md:w-[13px] ;
}



/* HEADER  END*/

/* BANNER START */
.banner{
    @apply relative text-light;
}

.banner__wrapper{
    @apply absolute top-[12.4%] left-[3%] lg:flex lg:w-full lg:items-center justify-center lg:gap-[5rem] lg:pt-[5rem];
}
.banner img{
    @apply lg:h-dvh bg-cover object-cover h-[135vh];
}

.banner__heading{
    @apply flex flex-col gap-[20px] ;
}

.banner__heading h4 {
  @apply flex items-center justify-center gap-[.3rem] border border-transparent py-[.5rem] 
  px-[.4rem] w-[17rem] bg-blew ;
}

.banner__heading img{
    @apply w-[15px] h-[15px];
}

.banner__heading h1{
    @apply text-[30px] font-bold leading-11 lg:leading-17 lg:text-[56px] ;
}

.banner__info p{
    @apply text-mobilee text-[16px] leading-7 w-[25rem] my-[26px] 
    lg:w-[636px];
}

.banner__info a{
    @apply bg-button py-[12px] px-[33px] rounded-md text-[16px] inline-block mb-[20px]
    lg:inline-block lg:w-[166px] lg:h-[60px] lg:mb-[0] lg:text-center lg:px-[40px] lg:py-[16px];
}

.banner__info  img{
    @apply w-[129px] h-[60px] ;
}

.banner__info span{
    @apply text-[18px] font-semibold mt-[10px] inline-block lg:border-l-1 lg:px-[1rem] lg:mt-[0px]
    lg:border-background;
}

.banner__info__rate{
    @apply lg:flex lg:items-center lg:gap-[2rem];
}


.banner__bottom__img img{
    @apply w-[386px]  h-[351px] mt-[15px] lg:w-[696px] lg:h-[634px] lg:mt-[0px];
}


/* BANNER END */
.services__cards{
    @apply bg-none lg:flex gap-[24px] lg:outline-none;
}
.services__wrapper{
    @apply absolute top-[138%] left-[3%] lg:top-[97.5%] lg:left-[15.9%];
}

.cards__item{
   @apply flex flex-col gap-[30px] bg-light w-[400px] h-[178px] rounded-lg px-[40px] pt-[40px] mb-[1.8rem] 
   hover:border-b-4 border-hover transition-all duration-200
   /* hover */
   lg:w-[306px] lg:h-[178px] hover:lg:border-b-4 border-hover transition-all duration-200;
}

.cards__item img{
    @apply w-[50px] h-[50px];
}

.cards__item:hover img{
    @apply animate-bounce;
}

.cards__item h2{
    @apply text-[20px] font-semibold;
}

/* .pricing */


.pricing {
    background-image: url("../dist/img/pricing-bg.jpg");
    @apply bg-cover h-[65rem] lg:max-w-full;  /* Optional: For better sizing and positioning */
}
.pricing__wrapper{
    @apply space-y-12 absolute mt-[50rem] right-[6.6%]  
    lg:mt-[15rem] lg:right-[0] lg:w-full;
}

.pricing__card{
    @apply lg:flex lg:gap-[24px] lg:justify-center;
}

.pricing img{
    @apply bg-center bg-cover bg-no-repeat h-dvh w-full;
}

.pricing__container{
    @apply max-w-[90rem] py-5 px-5 w-full mx-auto place-content-center;
}

.pricing__wrapper h2{
    @apply text-center text-[17px] text-primary font-bold
    lg:text-[40px] lg:leading-12;
}

.image__fee img{
    @apply w-[70px] h-[75px] pb-[5px] ;
}

.image__fee h4 sup{
    @apply w-[10.89px]  h-[21.82px] text-[18px] inline-block font-bold text-pricing; 
}

.image__fee h4{
    @apply text-[24px] text-pricing font-bold mt-[8px]
    lg:text-[32px];
}

.image__fee span{
    @apply text-[16px] text-grayish font-normal;
}

.pricing__item .middle {
    @apply text-[22px] text-primary font-bold
    lg:mb-[5px];
}

.p-gray{
    @apply text-grayish text-[16px] mb-[2rem];
}

.pricing__item a{
    @apply px-[45px] py-[10px] border border-pricing inline-block rounded-md;
}

.pricing__item a{
    @apply text-button mb-[1.5rem] inline-flex gap-[.8rem] items-center
    lg:w-[244px] lg:h-[55px] lg:text-primary lg:justify-center lg:px-[60px] lg:py-[11px]
    lg:items-center;
}

.pricing__item a i{
    @apply text-pricing;
}
.specs ul{
    @apply flex flex-col gap-[12px] ;
}
.specs ul li{
    @apply text-[15px] flex items-center gap-[1rem] text-grayish font-normal
    lg:text-[16px] ;
}

.specs ul li img{
    @apply w-[14px] h-[12px]
}

.image__fee{
    @apply relative before:content-[""] before:w-[15.5rem] before:h-[1px] before:bg-underline before:absolute before:left-0 
    mb-[1rem] before:top-[8rem] lg:before:top-[8.5rem] lg:mb-[.3rem];
}

.pricing__item{
    @apply px-[30px] pb-[23px] pt-[35px] border-t-[4px] border-top hover:border-t-[4px] mb-[30px] bg-light rounded-md ease-in-out duration-300 w-[386px] h-[515px]
    lg:w-[306px] lg:h-[524px] lg:rounded-none lg:hover:border-hover lg:border-t-[4px]; 
}

.image__fee h4 sup{
    @apply mr-[5px] inline-block;
}

.image__fee:hover img{
    @apply animate-bounce;
}

.pricing__item:hover .image__fee h4, .pricing__item:hover .image__fee sup{
    @apply text-orange ease-in-out duration-300;
}

.pricing__item a, .pricing__item a i, .pricing__item h4, .pricing__item h4 sup{
    @apply  ease-in-out duration-300 ;
}

.pricing__item:hover a{
    @apply bg-button ease-in-out duration-300 text-light ;
}

.pricing__item:hover a i{
    @apply text-light ease-in-out duration-300;
}

/* FEATURES */
.features{
    @apply pt-[141rem] lg:pt-[2rem];
}

.features__container{
    @apply w-full px-[12px] lg:py-[120px]  ;
}

.features__wrapper{
    @apply lg:flex lg:gap-[1.7rem] lg:items-center lg:justify-center mx-auto lg:max-w-[120rem] 
    lg:gap-[2px]; 
}


.features__wrapper .features__image img{
    @apply w-[386px] h-[379px] lg:w-[610px] lg:h-[599px] ;
}

.features__wrapper .features__image{
    @apply w-[410px] h-[409px] lg:w-[636px] lg:h-[599px];
}

.features__text{
    @apply lg:w-[660px] lg:h-[599px] lg:flex lg:flex-col;
}

.features__text__top h2{
    @apply text-[17px] text-primary font-bold leading-7
    lg:text-[40px] lg:w-[636px] lg:h-[96px] lg:leading-12 ;
}

.features__text__top{
    @apply space-y-6 mb-[5rem] lg:mb-[3rem];
}

.features__text__top ul{
    @apply flex flex-col gap-[17px];
}

.features__text__top ul li{
    @apply text-grayish w-[331px] text-[16px] leading-6
    lg:w-[546px] lg:h-auto lg:flex lg:items-start lg:gap-3.5;
}

.features__text__top ul li img{
   @apply mb-[.7rem] w-[22px] h-[22px];
}

.features__card{
    @apply w-[386px] h-[166.19px] px-[30px] pt-[15px] pb-[11px] mb-[30px] border-b-3
    border-button rounded-md hover:border-orange ease-in-out duration-300
    lg:w-[306px] lg:h-[166.19px];
}


.features__item h3{
    @apply  h-[46px] font-bold mb-[8px] mt-[11px] flex items-center gap-2 text-[42px] text-pricing ease-in-out duration-300 ;
}

.features__item h3 i{
    @apply text-[23px]  text-arrow ease-in-out duration-300;
}

.features__item p{
    @apply text-grayish mb-[16px] leading-7 ;
}

.features__card:hover h3{
    @apply text-orange  ease-in-out duration-300;
}

.features__wrapper__bottom{
    @apply lg:flex lg:gap-[32px]  ;
}

/* hosting */

.hosting{
    background-image: url("../dist/img/category.jpg");
    @apply h-[68rem] bg-center bg-cover lg:bg-center lg:h-[540px] lg:bg-cover
    lg:max-w-full;
}

.hosting__wrapper{
    @apply py-[110px] lg:pt-[110px] lg:pb-[90px] text-light space-y-16
    ;
}


.hosting .hosting__wrapper h2{
    @apply text-[17px] font-bold text-center lg:text-[40px];
}

.hosting .hosting__wrapper .hosting__card{
    @apply px-[20px] py-[18px] bg-light w-[386px] h-[86px] text-dark rounded-md
    lg:w-[306px] lg:h-[86px];
}

.hosting .hosting__wrapper .hosting__item{
    @apply flex items-center justify-start gap-[1rem];
}

.hosting .hosting__wrapper .hosting__item h3{
    @apply text-[19px] text-primary font-semibold;
}

.hosting__wrapper__card{
    @apply flex flex-col justify-center items-center gap-[24px] 
    lg:flex;
}

.hosting__wrapper__card .flex-top{
    @apply flex flex-col gap-[24px];
}

.hosting__wrapper__card .flex-bottom{
    @apply flex flex-col gap-[24px];
}

.hosting__wrapper__card .flex-top{
    @apply lg:flex lg:flex-row lg:gap-[24px];
}

.hosting__wrapper__card .flex-bottom{
    @apply lg:flex lg:flex-row lg:gap-[24px];
}

.hosting__card:hover .hosting__item img{
    @apply animate-bounce;
}

.hosting__wrapper__card{
    @apply lg:flex ;
}

/* Skills */
.skills{
    background-image: url("../dist/img/feature_bg.jpg");
    @apply bg-cover bg-center h-[157rem] lg:bg-cover lg:bg-center lg:h-[70rem] lg:max-w-full;
}

.skills__container{
    @apply pt-[110px] pb-[90px] px-[12px] lg:px-[304px];
}

.skills .heading{
    @apply text-center mb-[60px]
    lg:h-[112px];
}

.skills .heading h2{
    @apply text-[17px] text-primary font-bold mb-[8px]
    lg:text-[40px] ;
}

.skills .heading p{
    @apply text-grayish text-[17px] leading-7
    lg:text-[16px] lg:mx-[362.875px] ;
}

.skills__card__wrapper .skills__card{
    @apply pt-[50px] px-[15px] pb-[27px] mb-[30px] border-b-5 border-transparent hover:border-pricing ease-in-out duration-300 rounded-md bg-light 
    w-[356px] h-[331px] lg:px-[35px] lg:w-[416px] lg:h-[335.39px] ;
}

.skills__card .skills__items{
    @apply text-center flex flex-col items-center;
}

.skills__card .skills__items h3{
    @apply text-[20px] text-primary mt-[35px] mb-[18px] font-semibold
    lg:text-[24px];
}

.skills__card .skills__items  p{
    @apply text-grayish leading-7 text-[15px] text-center h-[84px]
    lg:text-[17px];
}

.skills__card__wrapper{
    @apply flex flex-col justify-center items-center
    lg:grid lg:grid-cols-3 lg:gap-x-[24px];
}

.skills__card:hover .skills__items img{
    @apply animate-bounce;
}

/* PROVED */
.proved{
    background-image: url("../dist/img/proved-bg.jpg");
    @apply bg-cover bg-center lg:h-[522px] lg:max-w-full;
}

.proved__container{
    @apply pt-[110px] pb-[120px] text-light px-[12px]
    lg:px-[304px] lg:pt-[34px] lg:pb-[42px];
}

.proved__container .proved__heading h2{
    @apply text-[17px] font-bold mb-[24px]
    lg:text-[40px];
}

.proved__container .proved__heading p{
    @apply leading-7 w-[386px] h-[112px] font-[16px] text-balance mb-[32px] font-medium
    lg:w-[572px] lg:h-[84px] lg:text-justify;
}

.left__proved a{
    @apply px-[10px] py-[13px] bg-button inline-block rounded-md w-[139.17px] h-[54px] text-center
    font-medium flex justify-center items-center;
}

.proved__wrapper img{
    @apply w-[386px] h-[339.64px]
    lg:w-[508px] lg:h-[447px];  
}

.proved__wrapper{
    @apply lg:grid lg:grid-cols-2 lg:w-[1320px] lg:h-[447px]
    lg:justify-center lg:items-center;
}

/* SLIDER */

.testimonial{
    background-image: url("../dist/img/testi_bg.jpg");
    @apply bg-center bg-cover bg-no-repeat h-[80rem] lg:h-[50rem];
}

